/*
Debug
*/

header {
    height: 90px;
}

#start-bootstrap {
    height: 500px;
}

#portfolio .row div {
    height: 250px;
}

#about {
    height: 400px;
}

#contact {
    height: 400px;
}

#footer-top {
    height: 230px;
}

#footer-bottom {
    height: 100px;
}

.place-holder{
    width: 230px;
    height: 260px;
    background-color: red;
    margin: 0 auto;
}

/*
Header
*/

header {
    background-color: #2c3e50;
}

/*
Main
*/

#start-bootstrap {
    background-color: #1abc9c;
}

#box-1 {
    background-color: #ba4b63;
}

#box-2 {
    background-color: #1ea4b6;
}

#box-3 {
    background-color: #140f0f;
}

#box-4 {
    background-color: #1c83c1;
}

#box-5 {
    background-color: #0e38b5;
}

#box-6 {
    background-color: #ccb2a3;
}

#about {
    background-color: #1abc9c;
}

/*
Footer
*/

#footer-top {
    background-color: #3a546d;
}

#footer-bottom {
    background-color: #2c3e50;
}